<app-navbar></app-navbar>
<!--Team Details-->
<div class="wrapper">
    <div class="section section-team text-center">
        <div class="container">
            <h2 class="title" style="margin-top: 58px;">Here is our team</h2>
            <div class="team">
                <div class="row">
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/anil.jpeg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Anil Kochera</h4>
                            <p class="category text-red">Master's Student</p>
                            <p class="description">If you're happy at your work place, every day is a great opportunity
                                to make a difference.</p>
                            <a href="https://www.linkedin.com/in/anil-kumar-kochera-6402aa16b/"
                                class="btn btn-red btn-icon btn-round" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/naveen.jpg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Naveen Tiragati</h4>
                            <p class="category text-red">Master's Student</p>
                            <p class="description">A computer science graduate student at UMKC having a passion to solve
                                real world problems and bring an impact to the company and its end users. Currently,
                                looking for an internship.</p>
                            <a href="https://www.linkedin.com/in/naveen-tiragati-8a671b152/"
                                class="btn btn-red btn-icon btn-round" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/ramya.jpeg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Shri Ramya Ashok</h4>
                            <p class="category text-red">Master's Student</p>
                            <p class="description">I am a Master's in Computer Science Student currently in my second
                                Semester. I have 3 years experience as
                                Full-Stack Developer.
                            </p>
                            <a href="https://www.linkedin.com/in/srashok96/" class="btn btn-red btn-icon btn-round"
                                target="_blank"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="team-player">
                            <img src="assets/img/sunny.jpeg" alt="Thumbnail Image"
                                class="rounded-circle img-fluid img-raised">
                            <h4 class="title">Suraj Sood</h4>
                            <p class="category text-red">Bachelor's Student</p>
                            <p class="description">UMKC student with a passion for AI and data science - graduating in
                                May 2023 and looking for a future data science internship</p>
                            <a href="https://www.linkedin.com/in/suraj-sood-6a85231b2/"
                                class="btn btn-red btn-icon btn-round" target="_blank"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center>
        <footer class="footer" data-background-color="black">
            <div class="container">
                <div class="copyright">
                    &copy;
                    {{data | date: 'yyyy'}}, Designed by Eye-conic. Coded by Eye-conic.
                </div>
            </div>
        </footer>
    </center>
</div>