<app-navbar></app-navbar>
<!--About the Project Page-->
<div class="wrapper">
  <div class="section">
    <div class="container">
      <h3 class="title">About EYE-CONIC...</h3>
      <h5 class="description">Due to the manual ticketing system, the hassle of walking around campus, checking for
        permits, and issuing a ticket has been an expensive and inaccurate process.
        This brings a lot of financial loss to the University due to the many cars that park on campus without a permit
        - additionally being an inconvenience to students with a parking permit.
      </h5>
      <h5 class="description">
        With our solution the university can issue a ticket at the comfort of their office, home, etc…
        With our automated solution we eliminate manual effort of checking every car in every spot on the university.
        Additionally, our solution is an accurate surveillance system that monitors 24/7, all while being cost
        efficient.
      </h5>
      <h5 class="description">Using drone technology, a mounted camera can detect the parked car’s licence plate,
        process, and do real time ANPR (Automated Number Plate Reading) and OCR (Object Character Reading).The licence
        plate number is then checked in the UMKC registered cars database - if the car is not registered, then the
        person is issued a ticket.
      </h5>
    </div>
  </div>
</div>
<center>
  <footer class="footer" data-background-color="black">
    <div class="container">
      <div class="copyright">
        &copy;
        {{data | date: 'yyyy'}}, Designed by Eye-conic. Coded by Eye-conic.
      </div>
    </div>
  </footer>
</center>