<!--Landing Page of the UI. Logo and Tagline-->
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/drone.webp');">

    </div>
    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/eye-conic-logo.png" alt="">
        <h1 class="h1-seo">EYE-CONIC</h1>
      </div>
      <h3 class="category category-absolute">The Only Survelleince app you need
      </h3>
    </div>
  </div>

  <div class="main">
    <app-typography></app-typography>
  </div>
  <center>
    <footer class="footer" data-background-color="black">
      <div class="container">
        <div class="copyright">
          &copy;
          {{data | date: 'yyyy'}}, Designed by Eye-conic. Coded by Eye-conic.
        </div>
      </div>
    </footer>
  </center>
</div>